*{
    margin: 0;
    padding: 0;
}

body{

    background-color: #000000;
}

.cabecalho{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:floralwhite
}

.cabecalho-item{

    display: inline-block;
    margin: 0 75px;
    font-size: 24px;
    color: aliceblue;
    

}

cabecalho-imagem{

    width: 150px;

}

.secao1{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0 ;    
    font-size: 25px;
}

.secao1-textinho{

    width: 50%;
    color: aliceblue;
    
}

.secao1-img{

    width: 20%;
    height: 20%;
}

.secao2-nossos-patrocinadores{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    
}

.secao2-div-patrocinadores{
    margin: 0 20px;
}

.secao2{
    color: rgb(0, 0, 0);
    background-color: #D9D9D9;
    text-align: center;
    
}
    
.secao2-titulo{

    display: flex;
    align-items: center;
    justify-content: center;

}

   

